:root {
	--nav-height: 60px;
}

* {
	box-sizing: border-box;
	margin: 0;
	font-family: Verdana, sans-serif;
}

body {
	margin-top: var(--nav-height);
	min-height: calc(100vh - var(--nav-height));

	display: flex;
	flex-direction: column;

	background-color: palegreen;
}

main {
	position: absolute;
	flex: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	margin: 10px;
	padding: 10px;
}

h2 {
	padding: 10px;
}

p {
	padding: 5px;
}

.text-container {
	margin: 10px;
	padding: 25px;

	display: flex;
	flex-direction: column;
	text-align: center;

	border-radius: 12px;
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.split-content {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.showcase-container {
	margin-left: 5%;
	width: calc(100% / 5);
}

.showcase-container img {
	width: 100%;
	height: 200px;

	object-fit: cover;
}

.showcase-container h2 {
	padding: 2px 0;
}

.showcase-container p {
	padding: 1px 0;
	color: gray;
}

@media screen and (min-width: 920px) {
	.text-container {
		justify-content: space-around;
	}

	.split-content {
		flex-direction: row;
		justify-content: space-around;
	}

	.split-content .text-container {
		width: calc(100% / 2.5);
	}
}
